---
import Logo from "@images/logonav.png";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import { getLocaleFromUrl } from "@/js/localeUtils";
import { getLocalizedRoute } from "@/js/translationUtils";
import { getTranslatedData } from "@/js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);
---

<a
	class="primary-focus font-heading flex items-center gap-2 text-lg font-medium"
	href={getLocalizedRoute(currLocale, "/")}
>
	<Image src={Logo}  alt="Logo" class="w-36"/>
	<!-- <p class="">{siteData.name}</p> -->
</a>
